@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Open+Sans:ital,wght@0,300;1,300&family=Oswald:wght@400;700&family=Roboto+Mono:wght@300&family=Roboto:ital,wght@1,300;1,400&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Mohave:wght@600&family=Open+Sans:ital,wght@0,300;1,300&family=Oswald:wght@400;700&family=Roboto+Mono:wght@300&family=Roboto:ital,wght@1,300;1,400&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Mohave:wght@600&family=Open+Sans:ital,wght@0,300;1,300&family=Oswald:wght@400;700&family=Poppins:ital,wght@1,600&family=Roboto+Mono:wght@300&family=Roboto:ital,wght@1,300;1,400&family=Teko:wght@500&display=swap');

:root {
	--primaryColor: #f09d51;
	--mainWhite: #fff;
	--mainBlack: #222;
	--mainGrey: #ececec;
	--mainSpacing: 0.1rem;
	--mainTransition: all 0.3s linear;
}

*{
	padding: 0;
	margin: 0;
	box-sizing:border-box ;

}

body{
	color: var(--mainBlack);
	background: var(--mainWhite);
	font-family: 'Lato', sans-serif;

}

/*--------navbar--------*/
.navbar{
	position:sticky;
	top: 0;
	height: 60px;
	width: 100%;
	display: flex;
	align-items:center ;
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 1;
	letter-spacing: var(--mainSpacing);
	font-family: 'Mochiy Pop One', sans-serif;
	
}

.navbar-center{
    width:100%; 
    max-width: 1170px;
    margin:0 auto ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem ;
}

 .nav-icon{ 
    font-size: 1.5rem;
    cursor: pointer;
}

 .cart-btn{ 
    position: relative;
    cursor: pointer;
}

 .cart-items{ 
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30% ;
    color: var(--mainWhite);
}

/*--------END of navbar--------*/

/*--------hero--------*/
.hero{
    min-height: 570px;/* min-height:calc(100vh - 60px); */
    background: url(./photo/salad-bg.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.banner{
	text-align: center;
	background: rgba(255, 255, 255,0.8);
	display: inline-block;
	padding: 2rem;
	border-radius: 6px;
	animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: relative;
	

}

  @keyframes move {
    0% {
      top: 20px;
    }
     
    50% {
      top: 30px;
    }    
    
    100% {
      top: 20px;
    }
  }

.banner-title{
	font-size: 3.4rem;
	text-transform:uppercase ;
	letter-spacing: var(--mainSpacing);
	margin-bottom: 3rem;
	font-family: 'Roboto Mono', monospace; 

}

.banner-btn{
	padding: 1rem 3rem;
	text-transform: uppercase;
	letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: #111;
    border: 1px solid var(--primaryColor) ;
    transition: var(--mainTransition);
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;

}

.banner-btn:hover{
    background: transparent;
    color: var(--primaryColor);

}
/** END of hero--------*/

 /** section products --------*/
 .products{
     padding: 4rem 0;

 }
 .section-title h2{
 	text-align: center;
 	font-size: 2.5rem;
 	margin-bottom: 5rem;
 	text-transform: capitalize;
 	letter-spacing: var(--mainSpacing);

 }
 .products-center{
 	width: 90vw;
 	margin: 0 auto;
 	max-width: 1170px;
 	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  /* 參考網址:https://jhlstudy.blogspot.com/2018/07/grid-layout-auto-fill-auto-fit_8.html */
  /* minmax() 用來指定一個軌道的寬度值, 比如你可以指定一個
  軌道寬固定為 200px, 你也可以指定一個軌道寬度為 minmax(200px, 1fr), 
  這樣的話, 軌道寬度是彈性的, 最小為 200px, 最大為 1fr. */

  /* auto-fit 會儘可能讓所有軌道佔滿網格容器, 
  並且儘可能滿足一行(列)，若超過一行則會往下行排列 剩餘空間會摺起來*/
 /* grid-template-columns: 1fr 1fr 1fr 1fr ; 沒有RWD功能 */

 	grid-column-gap: 1.5rem ;
 	grid-row-gap: 2rem ;
 	
 }


 .img-container{
 	position: relative;
 	overflow: hidden; 	
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	border-radius: 6px;

 }

 .bag-btn{
 	position: absolute;
 	top: 67%;
 	right: 0;
 	background: var(--primaryColor);
 	border: 0 ;
 	text-transform: uppercase;
 	padding: 0.5rem 0.75rem;
 	font-weight: bold;
 	letter-spacing: var(--mainSpacing);
 	font-weight: bold;
 	transition: var(--mainTransition);
 	transform: translateX(80%);/* X軸(左右)移動距離*1.正值: 向右移動2.負值: 向左移動 */
 	cursor: pointer;

 }

  .bag-btn:hover{
    color:var(--mainWhite) ;

 }

 .fa-cart-plus{
 	margin-right: 0.5rem;
 }

 .img-container:hover .bag-btn{
 	transform: translateX(0);/*X軸回復原來位置(距離)*/
 }
 .product-img{
 	display: block;
 	width: 100%;
 	min-height: 12rem;
 	transition: var(--mainTransition);
 }

 .img-container:hover .product-img{
 	opacity: 0.5;
 }
 
 .product h3{
 	text-transform: capitalize;
 	font-size: 1.1rem;
 	margin-top: 1rem;
 	letter-spacing: var(--mainSpacing);
 	text-align: center;
 	
 }

  .product h4{
 	margin-top: 0.7rem ;
 	letter-spacing: var(--mainSpacing);
 	color:  #e62e00;
 	text-align: center ;
 }
 
/*-------- END of section products --------*/

/*-------- Cart --------*/

.cart{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	background: var(--mainWhite);
	z-index: 3;
	transition: var(--mainTransition);
	padding: 16px ;
    transform: translateX(100%); /* X軸移動 translateX(0)~translateX(100%) */
    visibility: hidden; 
}

.showCart{
	transform: translateX(0); /* X軸原來位置不動 */
	visibility: visible; 
}


@media screen and (min-width: 768px) {
	.cart{
		width: 40vw; /*佔整體視窗的百分之30%*/
		min-width: 450px; /*整體視窗最小寬度:min-width: 450px*/
	}
}

.close-cart{
	font-size: 1.7rem;
	cursor: pointer;
}
.cart h2{
	text-transform: capitalize;
	text-align: center;
	letter-spacing: var(--mainSpacing);
	margin-bottom: 2rem;
}
.cart-item{
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr auto;
	grid-column-gap: 1.5rem ;
	margin: 1.5rem 0;

}
.cart-item img{
	width: 75px;
	height: 75px;

}
.cart-item h4{
	font-size: 0.85rem;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
}
.cart-item h5{
	margin: 0.5rem 0;
	letter-spacing: var(--mainSpacing);
}

.addCartItemName{
	color: #e65c00;

}

.item-amount{
	text-align: center;
}
.cartId {
	display: flex;
	color: red;
}
.cartId h5 {
	margin-top: -0.5px;
}
.remove-item{
	color: gray;
	cursor: pointer;
	
}
.fa-arrow-up,
.fa-arrow-down {
	color: var(--primaryColor);
	cursor: pointer;
}

/*--------END of Cart item --------*/

/*-------- Cart-footer --------*/
.cart-footer{
	margin-top: 2rem;
	letter-spacing: var(--mainSpacing);
	text-align: center;
}

.cart-footer h3{
	text-transform: capitalize;
	margin-bottom: 1rem;
}

/*-------- END of Cart-footer --------*/