@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Open+Sans:ital,wght@0,300;1,300&family=Oswald:wght@400;700&family=Roboto+Mono:wght@300&family=Roboto:ital,wght@1,300;1,400&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Mohave:wght@600&family=Open+Sans:ital,wght@0,300;1,300&family=Oswald:wght@400;700&family=Roboto+Mono:wght@300&family=Roboto:ital,wght@1,300;1,400&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Mohave:wght@600&family=Open+Sans:ital,wght@0,300;1,300&family=Oswald:wght@400;700&family=Poppins:ital,wght@1,600&family=Roboto+Mono:wght@300&family=Roboto:ital,wght@1,300;1,400&family=Teko:wght@500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
  	font-family: monospace;,sans-serif; 
  	cursor: pointer; 
  

	
}
/* --------------------- nav -------------------- */
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100% ;	
	min-height: 47px;
	padding-top: 10px ;
	padding-left: 10px ;	
	position:sticky;
	top: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 4;
	background: #fff;
	
	

		
}
/* 1.icon-logo(bar+fa-youtube-play) */
.nav .icon-logo{
	display: flex;
	font-size: 24px;

}

.icon-logo .fa-youtube-play{
	color: red;
	margin-left: 12px;
	margin-right: 5px;
	font-size: 25px;


}
.icon-logo h5{
	margin-top: -15px;
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;

}
/* END of icon-logo(bar+fa-youtube-play) */

/* 2.input-search-microphone) */
.input-search-microphone input{
	width: 600px;
	line-height: 25px;
	border: 1.5px solid  #c2c2d6;
	border-radius: 3px;
	padding-left: 5px;
	font-size: 14px;
	margin-right: 10px;

}

.input-search-microphone .fa-microphone{
   font-size: 20px ;  
}

/* 3.others-icons */
.others-icons .fa{
	margin-left: 5px;
	margin-right: 18px;

}



/* END of --------------------- nav -------------------- */
.toggle-navList{
	width: 23%;
	height: 100%;
	position: fixed;
	overflow: scroll;
	top: 47px;
	left: 0;	
	font-size: 18px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px;
	padding-right: 10px;
	background: #fff;
	transition: all 0.3s linear;
	z-index: 3;
	transform: translateX(-100%);
	visibility: hidden; 

}

.toggle-navList.show{
	transform: translateX(0%); ; /* X軸原來位置不動 */
	visibility: visible; 
}

.toggle-navList .icon-logo{
	display: flex;
	font-size: 24px;
	padding: 18px 16px;

}

.toggle-navList .icon-logo .fa-youtube-play{
	color: red;
	margin-left: 12px;
	margin-right: 5px;
	font-size: 25px;
}

.toggle-navList .icon-logo h5{
	margin-top: -15px;
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;

}

.toggle-navList .navToggle{
	padding-left: 12px;
	padding-top: 10px;
	color:  #47476b;
	list-style: none;
	
}

.toggle-navList .navToggle-2{
	padding-left: 10px;
	color:  #47476b;
	width: 150px;
	list-style: none;
}


.toggle-navList .navToggle li{
	margin-bottom: 15px;
}
.fa-home-color{
	color: red;
}

.toggle-navList .navToggle-2 li{
	margin-top: 12px;
	margin-bottom: 15px;
}

.toggle-navList .navToggle span{
	margin-left: 10px;
}

.toggle-navList .navToggle-2 span{
	margin-left: 10px;
}

#show-border{
  border-bottom: 1px solid  #e0e0eb ;
  padding-bottom: 20px;
}

/* -------video-content--------- */
.video-content{
  position: relative;
  z-index: -1;
  top: 10px;
  /*left: 23%;*/
  max-width:100%;
  display: flex ;
  flex-wrap:wrap;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.video-content.contentToggle{
   left: 22%;
   max-width: 77%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));


}

.image {
   /*width: calc(100% / 4) ;*/
   margin: 8px ;
   
}

.image img{
   border-radius:12px ;
   width: 100%;
     
}


.image .icon-text{
	display: flex;
	padding-left: 6px;

}
.image .icon-text .fa-user-secret{
	margin-right: 10px;

}

/* -------END of  video-content--------- */

@media screen and (max-width: 960px){	
	.nav{
		max-width: 100%;
	}
       
    .input-search-microphone input{
	   width: 360px;
   }
   .toggle-navList{
   	  font-size: 14px ;
   	  padding: 5px;
   }
  
   .video-content{     
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

    }
   .others-icons .fa{
	   margin-right: 7px;
   }

  
}


@media screen and (max-width: 690px){	
	.nav{
		max-width: 100%;
	}
       
    .input-search-microphone input{
	   width: 260px;
   }
   .toggle-navList{
   	  font-size: 14px ;
   	  padding: 5px;
   }
  
   .video-content{     
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    }


   .others-icons .fa{
	   margin-right: 7px;
   }

  
}

@media screen and (max-width: 565px){	
	.nav{
		max-width: 100%;
	}

	 .input-search-microphone input{
	   width: 150px;
	   padding-left: 0px;
       margin-right: 0px;
   }

	.nav .icon-logo{
	display: flex;
	font-size: 20px;
   }

   .icon-logo .fa-youtube-play{
	color: red;
	margin-left: 12px;
	margin-right: 5px;
	font-size: 21px;
   }

   .input-search-microphone .fa-microphone{
    font-size: 14px ;  

   }

   .icon-logo h5{
	margin-top: -15px;
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;

   }

   .toggle-navList .navToggle span{
	 margin-left: 0px;
}

  .toggle-navList .navToggle-2 span{
	margin-left: 0px;
}
       
 
    .others-icons .fa{
	   margin-right: 1px;
	   font-size: 12px;
   }
  .toggle-navList{
   	  font-size: 10px ;
   	  width: 28%;
   	 
   }
  
   .video-content{     
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }

    

 
}

@media screen and (max-width: 400px){	
	
	 .input-search-microphone input{
	   width: 100px;
	   padding-left: 0px;
       margin-right: 0px;
   }

   	.nav .icon-logo{
	display: flex;
	font-size: 17px;
   }

  

   .input-search-microphone .fa-microphone{
    font-size: 14px ;  

   }

   .icon-logo h5{
	margin-top: -15px;
	margin-right: -5px;
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;

   }
       
 
    .others-icons .fa{
	   margin-right: 1px;
	   font-size: 12px;
   }
   .toggle-navList{
   	  font-size: 7px ;
   	  width: 28%;
   	 
   }

   .toggle-navList .navToggle{
	padding-left: 2px;
	padding-top: 5px;
	
}

.toggle-navList .navToggle-2{
	padding-left: 0px;

}
  
   .video-content{     
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }



    

 
}










